<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DotLiquid template</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <style>
        .logo-row {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row logo-row">
            <div class="col-xs-offset-7 col-xs-5">
                <img src="https://via.placeholder.com/350x150" class="img-responsive pull-right" alt="An image">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-4">
                <p><strong>Reference:</strong> ABC123</p>
            </div>
            <div class="col-xs-offset-8 col-xs-4">
                <p><strong>Creation date:</strong> 12/10/2017</p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12">
                <h3>Person details</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p><strong>Name</strong></p>
            </div>
            <div class="col-xs-8">
                <p>Ms Zoe Holt</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p><strong>Address</strong></p>
            </div>
            <div class="col-xs-8">
                <address>
                    38 Wood Lane<br>
                    Badrallach<br> 
                    N/A<br>
                    IV23 2GA<br>
                    United Kingdom<br>
                </address>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12">
                <h3>Some other properties</h3>
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-4">
                <p><strong>Is True</strong></p>
            </div>
            <div class="col-xs-8">
                <p>
                
                No
                
                </p>
            </div>
        </div>
		
        <hr />

     
        <div class="row">
            <div class="col-xs-12">
                <h3>Content</h3>
            </div>
            <div class="col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum aliquam risus, nec volutpat augue commodo in. Integer sit amet tincidunt elit. Vestibulum ut feugiat ante, non interdum velit. Praesent posuere finibus ligula, ac vestibulum enim vehicula eu. Cras nec urna ut quam hendrerit malesuada. Vestibulum luctus ut massa at euismod. Nullam vestibulum faucibus turpis, ac fringilla dolor. Ut pulvinar eleifend orci, et condimentum massa accumsan et. Pellentesque at pharetra urna. Sed ut sem in lorem ultricies commodo. Nam bibendum nunc et volutpat malesuada. Sed cursus ex sapien. Aenean condimentum felis quis elit dapibus pretium. Donec pulvinar non elit et congue. Phasellus vel ex at neque finibus iaculis et id lectus.</p>
            </div>
        </div>

        <hr />
    </div>
</body>

</html>